<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title pull-left">Offerings</h3>
    	
    	<button type="button" class="btn btn-default btn-sm pull-right">Create</button>
  	</div>
  
  	<div class="panel-body">
  		<div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-12">
				<div class="search-box">
			    	<i class="glyphicon glyphicon-search"></i>
			    	<input type="search" ng-model="searchText" class="form-control" placeholder="Search">
				</div>
			</div>
		</div>
		
		<div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-12">
				<table class="table table-hover table-striped ttui-table show">
					<thead class="main-header">
						<tr>
							<th tt-table-tooltip>Code</th>
							<th tt-table-tooltip>Name</th>
							<th tt-table-tooltip>Description</th>
							<th tt-table-tooltip class="date">Date</th>
							<th class="currency" tt-table-tooltip>Charge in Invoice</th>
							<th class="currency" tt-table-tooltip>Charge Upfront</th>
							<th></th>
						</tr>
					</thead>
					
					<tbody>
						<tr ng-repeat="item in data track by $index">
							<td ng-bind="item.code" data-mobile-label="Code"></td>
							<td ng-bind="item.name" data-mobile-label="Name"></td>
							<td tt-table-tooltip ng-bind="item.description" data-mobile-label="Description"></td>
							<td class="date" ng-bind="item.date | date" data-mobile-label="Date"></td>
							<td class="currency" ng-bind="item.invoice | currency" data-mobile-label="Charge In Invoice"></td>
							<td class="currency" ng-bind="item.upfront | currency" data-mobile-label="Charge Upfront"></td>
							<td class="icons">
								<a class="glyphicon glyphicon-edit" ng-click="EditDetails();"></a>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr><td colspan="7">&nbsp</td></tr>
					</tfoot>
				</table>
			</div>
		</div>
  	</div>
</div>