<div ng-cloak>
	<div class="modal-header">
		<button type="button" class="close close-modal" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	
		<h4 class="modal-title modal-title-custom">Edit Message Timing</h4>
	</div>
	 
	<div class="modal-body">
	  	
	</div>
	
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">CLOSE</button>
		
		<button type="submit" class="btn btn-primary" ng-hide="disableFlag" ng-click="WSServiceSubmit()">OK</button>
	</div>
</div>