body { background: #ddd; }
header { width: 100%; float:left; background: #041e42; overflow: hidden; }
header .header-logo { width: 225px; float:left; }
header .header-content { width: calc(100% - 225px); float:left; }
header .header-logo img { height: 60px; }
.left-menu-bar { width: 225px; float:left; position: absolute; top: 60px; bottom: 0; background: #041e42; overflow: hidden; transition: 0.5s }
.left-menu-bar-thin { width: 25px; }
.main-content { width: calc(100% - 225px); float:left; position: relative; left: 225px; transition: 0.5s; }
.main-content-full { width: calc(100% - 25px); left: 25px; }
section { width: 100%; float:left; overflow: hidden; }
footer { width: 100%; float:left; position: absolute; bottom: 0; overflow: hidden; background: #041e42; }